html {
    color: #333333;
    font-family: "proxima-nova",Avenir,"Helvetica Neue",sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.5em;
}

.reveal .state-background {
    background: url("drupalcampfv2013/square-bg.png") repeat scroll 0 0 #F0F9FF;
    border-top: 10px solid #0274BB;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "adelle",Georgia,serif;
    font-weight: 700;
    margin-top: 0;
}

.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #BB0274;
}

.reveal h1 {
    font-size: 2.5em;
    margin-bottom: .4em;
}

.reveal h2 {
    margin-bottom: .3em;
}

.reveal h3 {
    margin-bottom: .3em;
}

.reveal h4 {
    margin-bottom: .3em;
}

a {
    color: #BB0274;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in;}

a:focus {
    color: #BB0274;
}

a:active, a:hover {
    outline: 0 none;
}

a:hover {
    color: #BBA602;
    text-decoration: underline;
}

.reveal img.logo {
    margin: 1em;

}